body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    letter-spacing: 1px;
}

.card img {
    height: 220px;
    object-fit: cover;
}

footer {
    width: 100%;
}

.btn-outline-light {
    border-radius: 30px;
}
